footer {
  background-color: $gray-darkest;
  color: $white;
  padding: 20px;
  text-align: center;

  a {
    @include lato-light(14px);
    color: $white;
    text-transform: uppercase;
  }

  nav {
    margin: 20px 0;

    a {
      opacity: .3;
      padding: 0 5px;
    }

    li {
      display: inline-block;
    }
  }

  .brand {
    font-size: 18px;
    letter-spacing: .3px;
  }
}
